footer {
    background-color: lightblue;
    padding: 20px;
    /* margin: 20px; */
    /* margin: 20px; */
  }

  .user-inputs {
    margin: 20px;
    padding: 20px;
  }

  h2 {
      padding: 20px;
  }
  