footer {
    background-color: lightblue;
    padding: 20px;
    /* margin: 20px; */
    /* margin: 20px; */
  }

  .user-inputs {
    margin: 20px;
    padding: 20px;
  }

  h2 {
      padding: 20px;
  }

  #github-footer-logo {
    height: 3em;
    width: 3em;
  }

  .jumbotron {
    background-color: lightblue;
  }

  #submit-button {
    margin: 1em;
  }

  .table {
    margin: 10px;
  }